*.out
*.nb
*.com
*.par
*.pes
*.odb
*.sta
*.sim
*.msg
*.dat
*.rpy
*.rpy.*
materials/filamentous_network/biofilament_affine_model/factin_affine_network.nb
materials/filamentous_network/biofilament_affine_model/network_test.nb
materials/filamentous_network/biofilament_affine_model/vonmises_distribution_simple.nb
*.csv
*.o
*.pmg
*.log
*.prt
*.DS_Store
*.mod
# Generated material directories (from generate.py)
/neo_hooke/
/mooney_rivlin/
/humphrey_hgo/
/ogden_3term/
/neo_hooke_damage/
/neo_hooke_visco/
/affine_network/
src/build/
